{% extends 'base.html' %}

{% block body1 %}
    <div id="body1">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1></h1>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container">
            <div class="row centered">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Регион</th>
                </tr>
                {% for region in object_list %}
                    <tr>
                        <td>{{ region.id_region }}</td>
                        <td>{{ region.name_region }}</td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
{% endblock %}